# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
sql/
src/main/java/com/goufaning/system/common/
target/
