<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="mainmenu">
    <li>
        <span class="glyphicon glyphicon-user">   基本功能</span>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <li name="welcomePage"><span>主页</span></li>
    </ul>
    <li>
        <span class="glyphicon glyphicon-user">   库存管理</span>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <!--若为普通管理员-->
        <li name="searchWarehouse" ><span>库存查询</span></li>
        <!--若为超级管理员-->
        <li><span>出入库记录</span></li>
    </ul>
    <li>
        <span class="glyphicon glyphicon-envelope">   仓库管理</span>
        <div class="messages">23</div>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <li><span>货物入库</span></li>
        <li><span>货物出库</span></li>
    </ul>
    <li>
        <span class="glyphicon glyphicon-cog">  人员管理</span>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <li><span>仓库管理员管理</span></li>
    </ul>
    <li>
        <span class="glyphicon glyphicon-lock"> 基础数据</span>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <li><span>供应商信息管理</span></li>
        <li><span>客户信息管理</span></li>
        <li name="goodsManager"><span>货物信息管理</span></li>
        <li name="warehouseManager"><span>仓库信息管理</span></li>
    </ul>
    <li>
        <span class="glyphicon glyphicon-lock"> 系统维护</span>
    </li>
    <ul class="submenu">
        <div class="expand-triangle"></div>
        <li><span>更改密码</a></span></li>
        <li><span>系统日志</span></li>
        <li><span>登陆日志</span></li>
    </ul>
</ul>
</body>
</html>