* {
    margin: 0;
    padding:0;
}
body {
    margin: 0 auto;
    overflow: hidden;
}
 a,a:link,a:visited,a:hover,a:active{
    text-decoration: none!important;
}
a:hover {
    text-decoration: none;
    cursor: hand;
}
ul,li {
    list-style-type:none;
}



.tab_menu li{
    color: black;
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    border-bottom: solid 1px #DBDBDB;
    background-color: #FDFDFD;
    width: 90px;
    height: 30px;
    text-decoration:none;
    cursor: hand;
}
.tab_menu li.hover{
    background:#DFDFDF;
    border-bottom: none;
    border-top: 2px solid #3399FF ;
    border-left: solid 1px #DBDBDB ;
    border-right: solid 1px #DBDBDB;
    cursor: hand;
}
.tab_menu li.selected{//为选中的选项加背景与颜色
    background-color: #DFDFDF;
    border-bottom: none;
    border-top: 2px solid #3399FF ;
    border-left: solid 1px #DBDBDB ;
    border-right: solid 1px #DBDBDB;
    cursor: hand;
}
.tab_box{
    clear:both; //清楚float效果的影响
    height:520px; //设置高度为100px
}
.hide{//隐藏需要隐藏的内容div
    display:none;
}


.tab_box div{
    height:520px;
    width: 100%;
    background-color: #FDFDFD;
}

.tab_box .hide{display:none;}
.baobiao {
    border:solid #add9c0; border-width:1px 0px 0px 1px;
}
.baobiao td{
    border:solid #add9c0; border-width:0px 1px 1px 0px; padding-left:10px;
    height: 30px;
}
.baobiao tbody tr:hover {
    background-color: #CEDBEF;
}
.close {
    float: right;display: block;padding-right: 50px
}
#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

/*------------ Color Palette ------------*/
/*
LIGHT ORANGE: #e4644b
DARK ORANGE: #d05942
DARK BROWN: #484141
Menu text: #f7f1e3
Submenu text: #ae9f9f
*/

/*------------ General Settings ------------*/
/*@import url(https://fonts.useso.com/css?family=Montserrat);*/


.page-sidebar ul {
    list-style: none;
}

li {
    cursor: pointer;
}
/*------------ Main Menu ------------*/
.navbar-side {
    border:none;
    background-color: #283643;
}

#page-wrapper{
    margin: 0 0 0 260px;
    padding: 15px 30px;

    min-height: 1200px;

}


.navbar-side {
    z-index: 1;
    width: 260px;
}

.navbar {
    border-radius: 0px;
}

.mainmenu {
    font-size: 14px;
    position:relative;
    padding:0;
}

i {
    color: #1cc09f;
}

.mainmenu > li {
    background-color: rgb(40, 54, 67);
    padding: 10px 15px;
    height: 45px;
    color: #B5B5B5;
    box-sizing: border-box;
    position:relative;
}

.mainmenu > li:first-child {
    border-top: 0;
}


.mainmenu > li a {
    display:block;
    line-height: 45px;
}

.mainmenu > li .icon {
    float: left;
    width: 20px;
    height: 20px;
    display:block;
    position:absolute;
    left:10px;
    top:15px;
}

.expand-triangle {
    background: url("../images/expand.gif") top left no-repeat;
    height: 10px;
    content: " ";
}

/*------------ Sub Menu ------------*/
.submenu {
    box-sizing: border-box;
    color: #ae9f9f;
    font-size: 13px;
    content: " ";
    /*opacity: 0.5;*/
}

.submenu li {
    line-height: 20px;
    height: 40px;
    padding-top: 11px;
    background-color: #484141;
    border-left: solid 6px #484141;
    transition: border-left 220ms ease-in;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
    border-left: solid 6px #d05942;
}

.submenu li span {
    margin-left:30px;
}

.animate {
    animation: flip 2000ms ease-in-out alternate;
}

@keyframes flip {
    to {
        transform: rotateY(360deg);
    }
}
