<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel panel-default">
    <ol class="breadcrumb">修改密码</ol>
    <div class="panel-body">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: center">
                <div class="col-md-1 col-sm-1">
                </div>
                <div class="col-md-10 col-sm-10">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-4 control-label">用户名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="firstname" placeholder="请输入名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-4 control-label">输入原密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="输入原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-4 control-label">输入新密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="lastname" placeholder="输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">确认修改</button>
                            </div>
                        </div>
                    </form>
                    <div id="myAlert" class="alert alert-info">
                        <strong>登录密码修改规则说明</strong><br>
                        1.密码长度为<br>
                        2.密码
                    </div>
                </div>
                <div class="col-md-1 col-sm-1">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
</html>